In [35]:
import MySQLdb
import pandas as pd
import numpy as np

In [4]:
db = MySQLdb.connect("localhost","root","","order_easy" )
df_mysql = pd.read_sql('select * from review;', con=db)
pd.DataFrame.to_csv(df_mysql,"rating_final.csv",index=False)

In [7]:
df = pd.read_sql('select * from food_items;', con=db)

In [11]:
ratings = pd.read_csv('rating_final.csv')

In [12]:
users = ratings.userID.unique()


userid2idx = {o:i for i,o in enumerate(users)}

In [13]:
ratings.userID = ratings.userID.apply(lambda x: userid2idx[x])

In [14]:
ratings

   id  userID  foodID  rating
0   1       0      97       3
1   2       0      96       5
2   3       0     182       4
3   5       1     186       5
4   6       1     187       4
5   7       1      13       3
6   8       1      16       5
7   9       1      17       4
8  10       1      29       3

In [48]:
df1=pd.DataFrame(columns=['userID','foodID','rating'])
df1

Empty DataFrame
Columns: [userID, foodID, rating]
Index: []

In [56]:
ratings.foodID[4]

187

In [40]:
k=0
for i in ratings.userID.unique():
    for j in df.id:
        if j not in ratings.foodID:
            df1.loc[k]=[i,j,np.nan]
            k=k+1

In [46]:
for i in range(len(df1)):
    print df1.loc[i]

userID      0
foodID      9
rating    NaN
Name: 0, dtype: object
userID      0
foodID     10
rating    NaN
Name: 1, dtype: object
userID      0
foodID     11
rating    NaN
Name: 2, dtype: object
userID      0
foodID     12
rating    NaN
Name: 3, dtype: object
userID      0
foodID     13
rating    NaN
Name: 4, dtype: object
userID      0
foodID     14
rating    NaN
Name: 5, dtype: object
userID      0
foodID     15
rating    NaN
Name: 6, dtype: object
userID      0
foodID     16
rating    NaN
Name: 7, dtype: object
userID      0
foodID     17
rating    NaN
Name: 8, dtype: object
userID      0
foodID     18
rating    NaN
Name: 9, dtype: object
userID      0
foodID     19
rating    NaN
Name: 10, dtype: object
userID      0
foodID     20
rating    NaN
Name: 11, dtype: object
userID      0
foodID     21
rating    NaN
Name: 12, dtype: object
userID      0
foodID     22
rating    NaN
Name: 13, dtype: object
userID      0
foodID     23
rating    NaN
Name: 14, dtype: object
userID      0
foodID     24
rating    NaN
Name: 15, dtype: object
userID      0
foodID     25
rating    NaN
Name: 16, dtype: object
userID      0
foodID     26
rating    NaN
Name: 17, dtype: object
userID      0
foodID     27
rating    NaN
Name: 18, dtype: object
userID      0
foodID     28
rating    NaN
Name: 19, dtype: object
userID      0
foodID     29
rating    NaN
Name: 20, dtype: object
userID      0
foodID     30
rating    NaN
Name: 21, dtype: object
userID      0
foodID     31
rating    NaN
Name: 22, dtype: object
userID      0
foodID     32
rating    NaN
Name: 23, dtype: object
userID      0
foodID     33
rating    NaN
Name: 24, dtype: object
userID      0
foodID     34
rating    NaN
Name: 25, dtype: object
userID      0
foodID     35
rating    NaN
Name: 26, dtype: object
userID      0
foodID     36
rating    NaN
Name: 27, dtype: object
userID      0
foodID     37
rating    NaN
Name: 28, dtype: object
userID      0
foodID     38
rating    NaN
Name: 29, dtype: object
userID      0
foodID     39
rating    NaN
Name: 30, dtype: object
userID      0
foodID     40
rating    NaN
Name: 31, dtype: object
userID      0
foodID     41
rating    NaN
Name: 32, dtype: object
userID      0
foodID     42
rating    NaN
Name: 33, dtype: object
userID      0
foodID     43
rating    NaN
Name: 34, dtype: object
userID      0
foodID     44
rating    NaN
Name: 35, dtype: object
userID      0
foodID     45
rating    NaN
Name: 36, dtype: object
userID      0
foodID     46
rating    NaN
Name: 37, dtype: object
userID      0
foodID     47
rating    NaN
Name: 38, dtype: object
userID      0
foodID     48
rating    NaN
Name: 39, dtype: object
userID      0
foodID     49
rating    NaN
Name: 40, dtype: object
userID      0
foodID     50
rating    NaN
Name: 41, dtype: object
userID      0
foodID     51
rating    NaN
Name: 42, dtype: object
userID      0
foodID     52
rating    NaN
Name: 43, dtype: object
userID      0
foodID     53
rating    NaN
Name: 44, dtype: object
userID      0
foodID     54
rating    NaN
Name: 45, dtype: object
userID      0
foodID     55
rating    NaN
Name: 46, dtype: object
userID      0
foodID     56
rating    NaN
Name: 47, dtype: object
userID      0
foodID     57
rating    NaN
Name: 48, dtype: object
userID      0
foodID     58
rating    NaN
Name: 49, dtype: object
userID      0
foodID     59
rating    NaN
Name: 50, dtype: object
userID      0
foodID     60
rating    NaN
Name: 51, dtype: object
userID      0
foodID     61
rating    NaN
Name: 52, dtype: object
userID      0
foodID     62
rating    NaN
Name: 53, dtype: object
userID      0
foodID     63
rating    NaN
Name: 54, dtype: object
userID      0
foodID     64
rating    NaN
Name: 55, dtype: object
userID      0
foodID     65
rating    NaN
Name: 56, dtype: object
userID      0
foodID     66
rating    NaN
Name: 57, dtype: object
userID      0
foodID     67
rating    NaN
Name: 58, dtype: object
userID      0
foodID     68
rating    NaN
Name: 59, dtype: object
userID      0
foodID     69
rating    NaN
Name: 60, dtype: object
userID      0
foodID     70
rating    NaN
Name: 61, dtype: object
userID      0
foodID     71
rating    NaN
Name: 62, dtype: object
userID      0
foodID     72
rating    NaN
Name: 63, dtype: object
userID      0
foodID     73
rating    NaN
Name: 64, dtype: object
userID      0
foodID     74
rating    NaN
Name: 65, dtype: object
userID      0
foodID     75
rating    NaN
Name: 66, dtype: object
userID      0
foodID     76
rating    NaN
Name: 67, dtype: object
userID      0
foodID     77
rating    NaN
Name: 68, dtype: object
userID      0
foodID     78
rating    NaN
Name: 69, dtype: object
userID      0
foodID     79
rating    NaN
Name: 70, dtype: object
userID      0
foodID     80
rating    NaN
Name: 71, dtype: object
userID      0
foodID     81
rating    NaN
Name: 72, dtype: object
userID      0
foodID     82
rating    NaN
Name: 73, dtype: object
userID      0
foodID     83
rating    NaN
Name: 74, dtype: object
userID      0
foodID     84
rating    NaN
Name: 75, dtype: object
userID      0
foodID     85
rating    NaN
Name: 76, dtype: object
userID      0
foodID     86
rating    NaN
Name: 77, dtype: object
userID      0
foodID     87
rating    NaN
Name: 78, dtype: object
userID      0
foodID     88
rating    NaN
Name: 79, dtype: object
userID      0
foodID     89
rating    NaN
Name: 80, dtype: object
userID      0
foodID     90
rating    NaN
Name: 81, dtype: object
userID      0
foodID     91
rating    NaN
Name: 82, dtype: object
userID      0
foodID     92
rating    NaN
Name: 83, dtype: object
userID      0
foodID     93
rating    NaN
Name: 84, dtype: object
userID      0
foodID     94
rating    NaN
Name: 85, dtype: object
userID      0
foodID     95
rating    NaN
Name: 86, dtype: object
userID      0
foodID     96
rating    NaN
Name: 87, dtype: object
userID      0
foodID     97
rating    NaN
Name: 88, dtype: object
userID      0
foodID     98
rating    NaN
Name: 89, dtype: object
userID      0
foodID     99
rating    NaN
Name: 90, dtype: object
userID      0
foodID    100
rating    NaN
Name: 91, dtype: object
userID      0
foodID    101
rating    NaN
Name: 92, dtype: object
userID      0
foodID    102
rating    NaN
Name: 93, dtype: object
userID      0
foodID    103
rating    NaN
Name: 94, dtype: object
userID      0
foodID    104
rating    NaN
Name: 95, dtype: object
userID      0
foodID    105
rating    NaN
Name: 96, dtype: object
userID      0
foodID    106
rating    NaN
Name: 97, dtype: object
userID      0
foodID    107
rating    NaN
Name: 98, dtype: object
userID      0
foodID    108
rating    NaN
Name: 99, dtype: object
userID      0
foodID    109
rating    NaN
Name: 100, dtype: object
userID      0
foodID    110
rating    NaN
Name: 101, dtype: object
userID      0
foodID    111
rating    NaN
Name: 102, dtype: object
userID      0
foodID    112
rating    NaN
Name: 103, dtype: object
userID      0
foodID    113
rating    NaN
Name: 104, dtype: object
userID      0
foodID    114
rating    NaN
Name: 105, dtype: object
userID      0
foodID    115
rating    NaN
Name: 106, dtype: object
userID      0
foodID    116
rating    NaN
Name: 107, dtype: object
userID      0
foodID    117
rating    NaN
Name: 108, dtype: object
userID      0
foodID    118
rating    NaN
Name: 109, dtype: object
userID      0
foodID    119
rating    NaN
Name: 110, dtype: object
userID      0
foodID    120
rating    NaN
Name: 111, dtype: object
userID      0
foodID    121
rating    NaN
Name: 112, dtype: object
userID      0
foodID    122
rating    NaN
Name: 113, dtype: object
userID      0
foodID    123
rating    NaN
Name: 114, dtype: object
userID      0
foodID    124
rating    NaN
Name: 115, dtype: object
userID      0
foodID    182
rating    NaN
Name: 116, dtype: object
userID      0
foodID    183
rating    NaN
Name: 117, dtype: object
userID      0
foodID    184
rating    NaN
Name: 118, dtype: object
userID      0
foodID    185
rating    NaN
Name: 119, dtype: object
userID      0
foodID    186
rating    NaN
Name: 120, dtype: object
userID      0
foodID    187
rating    NaN
Name: 121, dtype: object
userID      0
foodID    188
rating    NaN
Name: 122, dtype: object
userID      0
foodID    189
rating    NaN
Name: 123, dtype: object
userID      0
foodID    197
rating    NaN
Name: 124, dtype: object
userID      0
foodID    198
rating    NaN
Name: 125, dtype: object
userID      0
foodID    199
rating    NaN
Name: 126, dtype: object
userID      0
foodID    200
rating    NaN
Name: 127, dtype: object
userID      0
foodID    201
rating    NaN
Name: 128, dtype: object
userID      0
foodID    202
rating    NaN
Name: 129, dtype: object
userID      1
foodID      9
rating    NaN
Name: 130, dtype: object
userID      1
foodID     10
rating    NaN
Name: 131, dtype: object
userID      1
foodID     11
rating    NaN
Name: 132, dtype: object
userID      1
foodID     12
rating    NaN
Name: 133, dtype: object
userID      1
foodID     13
rating    NaN
Name: 134, dtype: object
userID      1
foodID     14
rating    NaN
Name: 135, dtype: object
userID      1
foodID     15
rating    NaN
Name: 136, dtype: object
userID      1
foodID     16
rating    NaN
Name: 137, dtype: object
userID      1
foodID     17
rating    NaN
Name: 138, dtype: object
userID      1
foodID     18
rating    NaN
Name: 139, dtype: object
userID      1
foodID     19
rating    NaN
Name: 140, dtype: object
userID      1
foodID     20
rating    NaN
Name: 141, dtype: object
userID      1
foodID     21
rating    NaN
Name: 142, dtype: object
userID      1
foodID     22
rating    NaN
Name: 143, dtype: object
userID      1
foodID     23
rating    NaN
Name: 144, dtype: object
userID      1
foodID     24
rating    NaN
Name: 145, dtype: object
userID      1
foodID     25
rating    NaN
Name: 146, dtype: object
userID      1
foodID     26
rating    NaN
Name: 147, dtype: object
userID      1
foodID     27
rating    NaN
Name: 148, dtype: object
userID      1
foodID     28
rating    NaN
Name: 149, dtype: object
userID      1
foodID     29
rating    NaN
Name: 150, dtype: object
userID      1
foodID     30
rating    NaN
Name: 151, dtype: object
userID      1
foodID     31
rating    NaN
Name: 152, dtype: object
userID      1
foodID     32
rating    NaN
Name: 153, dtype: object
userID      1
foodID     33
rating    NaN
Name: 154, dtype: object
userID      1
foodID     34
rating    NaN
Name: 155, dtype: object
userID      1
foodID     35
rating    NaN
Name: 156, dtype: object
userID      1
foodID     36
rating    NaN
Name: 157, dtype: object
userID      1
foodID     37
rating    NaN
Name: 158, dtype: object
userID      1
foodID     38
rating    NaN
Name: 159, dtype: object
userID      1
foodID     39
rating    NaN
Name: 160, dtype: object
userID      1
foodID     40
rating    NaN
Name: 161, dtype: object
userID      1
foodID     41
rating    NaN
Name: 162, dtype: object
userID      1
foodID     42
rating    NaN
Name: 163, dtype: object
userID      1
foodID     43
rating    NaN
Name: 164, dtype: object
userID      1
foodID     44
rating    NaN
Name: 165, dtype: object
userID      1
foodID     45
rating    NaN
Name: 166, dtype: object
userID      1
foodID     46
rating    NaN
Name: 167, dtype: object
userID      1
foodID     47
rating    NaN
Name: 168, dtype: object
userID      1
foodID     48
rating    NaN
Name: 169, dtype: object
userID      1
foodID     49
rating    NaN
Name: 170, dtype: object
userID      1
foodID     50
rating    NaN
Name: 171, dtype: object
userID      1
foodID     51
rating    NaN
Name: 172, dtype: object
userID      1
foodID     52
rating    NaN
Name: 173, dtype: object
userID      1
foodID     53
rating    NaN
Name: 174, dtype: object
userID      1
foodID     54
rating    NaN
Name: 175, dtype: object
userID      1
foodID     55
rating    NaN
Name: 176, dtype: object
userID      1
foodID     56
rating    NaN
Name: 177, dtype: object
userID      1
foodID     57
rating    NaN
Name: 178, dtype: object
userID      1
foodID     58
rating    NaN
Name: 179, dtype: object
userID      1
foodID     59
rating    NaN
Name: 180, dtype: object
userID      1
foodID     60
rating    NaN
Name: 181, dtype: object
userID      1
foodID     61
rating    NaN
Name: 182, dtype: object
userID      1
foodID     62
rating    NaN
Name: 183, dtype: object
userID      1
foodID     63
rating    NaN
Name: 184, dtype: object
userID      1
foodID     64
rating    NaN
Name: 185, dtype: object
userID      1
foodID     65
rating    NaN
Name: 186, dtype: object
userID      1
foodID     66
rating    NaN
Name: 187, dtype: object
userID      1
foodID     67
rating    NaN
Name: 188, dtype: object
userID      1
foodID     68
rating    NaN
Name: 189, dtype: object
userID      1
foodID     69
rating    NaN
Name: 190, dtype: object
userID      1
foodID     70
rating    NaN
Name: 191, dtype: object
userID      1
foodID     71
rating    NaN
Name: 192, dtype: object
userID      1
foodID     72
rating    NaN
Name: 193, dtype: object
userID      1
foodID     73
rating    NaN
Name: 194, dtype: object
userID      1
foodID     74
rating    NaN
Name: 195, dtype: object
userID      1
foodID     75
rating    NaN
Name: 196, dtype: object

userID      1
foodID     76
rating    NaN
Name: 197, dtype: object
userID      1
foodID     77
rating    NaN
Name: 198, dtype: object
userID      1
foodID     78
rating    NaN
Name: 199, dtype: object
userID      1
foodID     79
rating    NaN
Name: 200, dtype: object
userID      1
foodID     80
rating    NaN
Name: 201, dtype: object
userID      1
foodID     81
rating    NaN
Name: 202, dtype: object
userID      1
foodID     82
rating    NaN
Name: 203, dtype: object
userID      1
foodID     83
rating    NaN
Name: 204, dtype: object
userID      1
foodID     84
rating    NaN
Name: 205, dtype: object
userID      1
foodID     85
rating    NaN
Name: 206, dtype: object
userID      1
foodID     86
rating    NaN
Name: 207, dtype: object
userID      1
foodID     87
rating    NaN
Name: 208, dtype: object
userID      1
foodID     88
rating    NaN
Name: 209, dtype: object
userID      1
foodID     89
rating    NaN
Name: 210, dtype: object
userID      1
foodID     90
rating    NaN
Name: 211, dtype: object
userID      1
foodID     91
rating    NaN
Name: 212, dtype: object
userID      1
foodID     92
rating    NaN
Name: 213, dtype: object
userID      1
foodID     93
rating    NaN
Name: 214, dtype: object
userID      1
foodID     94
rating    NaN
Name: 215, dtype: object
userID      1
foodID     95
rating    NaN
Name: 216, dtype: object
userID      1
foodID     96
rating    NaN
Name: 217, dtype: object
userID      1
foodID     97
rating    NaN
Name: 218, dtype: object
userID      1
foodID     98
rating    NaN
Name: 219, dtype: object
userID      1
foodID     99
rating    NaN
Name: 220, dtype: object
userID      1
foodID    100
rating    NaN
Name: 221, dtype: object
userID      1
foodID    101
rating    NaN
Name: 222, dtype: object
userID      1
foodID    102
rating    NaN
Name: 223, dtype: object
userID      1
foodID    103
rating    NaN
Name: 224, dtype: object
userID      1
foodID    104
rating    NaN
Name: 225, dtype: object
userID      1
foodID    105
rating    NaN
Name: 226, dtype: object
userID      1
foodID    106
rating    NaN
Name: 227, dtype: object
userID      1
foodID    107
rating    NaN
Name: 228, dtype: object
userID      1
foodID    108
rating    NaN
Name: 229, dtype: object
userID      1
foodID    109
rating    NaN
Name: 230, dtype: object
userID      1
foodID    110
rating    NaN
Name: 231, dtype: object
userID      1
foodID    111
rating    NaN
Name: 232, dtype: object
userID      1
foodID    112
rating    NaN
Name: 233, dtype: object
userID      1
foodID    113
rating    NaN
Name: 234, dtype: object
userID      1
foodID    114
rating    NaN
Name: 235, dtype: object
userID      1
foodID    115
rating    NaN
Name: 236, dtype: object
userID      1
foodID    116
rating    NaN
Name: 237, dtype: object
userID      1
foodID    117
rating    NaN
Name: 238, dtype: object
userID      1
foodID    118
rating    NaN
Name: 239, dtype: object
userID      1
foodID    119
rating    NaN
Name: 240, dtype: object
userID      1
foodID    120
rating    NaN
Name: 241, dtype: object
userID      1
foodID    121
rating    NaN
Name: 242, dtype: object
userID      1
foodID    122
rating    NaN
Name: 243, dtype: object
userID      1
foodID    123
rating    NaN
Name: 244, dtype: object
userID      1
foodID    124
rating    NaN
Name: 245, dtype: object
userID      1
foodID    182
rating    NaN
Name: 246, dtype: object
userID      1
foodID    183
rating    NaN
Name: 247, dtype: object
userID      1
foodID    184
rating    NaN
Name: 248, dtype: object
userID      1
foodID    185
rating    NaN
Name: 249, dtype: object
userID      1
foodID    186
rating    NaN
Name: 250, dtype: object
userID      1
foodID    187
rating    NaN
Name: 251, dtype: object
userID      1
foodID    188
rating    NaN
Name: 252, dtype: object
userID      1
foodID    189
rating    NaN
Name: 253, dtype: object
userID      1
foodID    197
rating    NaN
Name: 254, dtype: object
userID      1
foodID    198
rating    NaN
Name: 255, dtype: object
userID      1
foodID    199
rating    NaN
Name: 256, dtype: object
userID      1
foodID    200
rating    NaN
Name: 257, dtype: object
userID      1
foodID    201
rating    NaN
Name: 258, dtype: object
userID      1
foodID    202
rating    NaN
Name: 259, dtype: object

In [1]:
import numpy as np

In [5]:
a=2*np.ones(10)
a

array([ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.])

In [9]:
np.arange(137)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136])

In [7]:
a=np.array([1,3,4,2])

In [8]:
a

array([1, 3, 4, 2])

In [9]:
np.sort(a)

array([1, 2, 3, 4])

In [5]:
a=a.sort

In [6]:
a

In [1]:
import train_model

WARNING (theano.sandbox.cuda): The cuda backend is deprecated and will be removed in the next release (v0.10).  Please switch to the gpuarray backend. You can get more information about how to switch at this URL:
 https://github.com/Theano/Theano/wiki/Converting-to-the-new-gpu-back-end%28gpuarray%29

Using gpu device 0: GeForce 940MX (CNMeM is enabled with initial size: 80.0% of memory, cuDNN 5110)
Using Theano backend.

In [3]:
count=input_table()

NameError: name 'input_table' is not defined

In [8]:
trn,val, n_users, n_food,userid2idx=input_csv()

In [9]:
nn=train_model(trn,val, n_users, n_food)

Train on 2786 samples, validate on 317 samples
Epoch 1/16
2786/2786 [==============================] - 0s - loss: 0.7866 - val_loss: 0.9319
Epoch 2/16
2786/2786 [==============================] - 0s - loss: 0.7345 - val_loss: 0.8533
Epoch 3/16
2786/2786 [==============================] - 0s - loss: 0.7254 - val_loss: 0.8439
Epoch 4/16
2786/2786 [==============================] - 0s - loss: 0.7097 - val_loss: 0.8347
Epoch 5/16
2786/2786 [==============================] - 0s - loss: 0.7129 - val_loss: 0.8282
Epoch 6/16
2786/2786 [==============================] - 0s - loss: 0.7063 - val_loss: 0.8342
Epoch 7/16
2786/2786 [==============================] - 0s - loss: 0.7015 - val_loss: 0.8287
Epoch 8/16
2786/2786 [==============================] - 0s - loss: 0.6789 - val_loss: 0.8137
Epoch 9/16
2786/2786 [==============================] - 0s - loss: 0.6845 - val_loss: 0.8141
Epoch 10/16
2786/2786 [==============================] - 0s - loss: 0.7055 - val_loss: 0.8279
Epoch 11/16
2786/2786 [==============================] - 0s - loss: 0.6727 - val_loss: 0.8306
Epoch 12/16
2786/2786 [==============================] - 0s - loss: 0.6809 - val_loss: 0.8294
Epoch 13/16
2786/2786 [==============================] - 0s - loss: 0.6809 - val_loss: 0.8231
Epoch 14/16
2786/2786 [==============================] - 0s - loss: 0.6836 - val_loss: 0.8198
Epoch 15/16
2786/2786 [==============================] - 0s - loss: 0.6722 - val_loss: 0.8154
Epoch 16/16
2786/2786 [==============================] - 0s - loss: 0.6640 - val_loss: 0.8297

In [5]:
get_reommendation(count,userid2idx,nn)

TypeError: ufunc 'multiply' did not contain a loop with signature matching types dtype('S32') dtype('S32') dtype('S32')

In [6]:
from __future__ import division, print_function
from theano.sandbox import cuda
import utils; reload(utils)
from utils import *

from sqlalchemy import create_engine
import MySQLdb

n_factors = 50
np.random.seed = 42

model_path = 'models/'
if not os.path.exists(model_path): os.mkdir(model_path)
batch_size=10


    
def input_table():
    db = MySQLdb.connect("localhost","root","","order_easy" )
    df_mysql = pd.read_sql('select * from review;', con=db)
    pd.DataFrame.to_csv(df_mysql,"rating_final.csv",index=False)
    cur=db.cursor()
    cur.execute("SELECT COUNT(*) FROM food_items")
    n=cur.fetchone()
    return n[0]
        
        
def input_csv():
    ratings = pd.read_csv('rating_final.csv')
    ratings['foodID']=ratings['foodID'].replace(0,np.nan)
        
    users = ratings.userID.unique()
    food = ratings.foodID.unique()

    userid2idx = {o:i for i,o in enumerate(users)}
    foodid2idx = {o:i for i,o in enumerate(food)}

    ratings.foodID = ratings.foodID.apply(lambda x: foodid2idx[x])
    ratings.userID = ratings.userID.apply(lambda x: userid2idx[x])

    user_min, user_max, food_min, food_max = (ratings.userID.min(), 
                                                  ratings.userID.max(), ratings.foodID.min(), ratings.foodID.max())

    n_users = ratings.userID.nunique()
    n_food = ratings.foodID.nunique()

        

    msk = np.random.rand(len(ratings)) < 0.9
    trn = ratings[msk]
    val = ratings[~msk]
    return trn,val, n_users, n_food, userid2idx, foodid2idx

def embedding_input(name, n_in, n_out, reg):
    inp = Input(shape=(1,), dtype='int64', name=name)
    return inp, Embedding(n_in, n_out, input_length=1, W_regularizer=l2(reg))(inp)
    
def train_model(trn,val, n_users, n_food):
    user_in, u = embedding_input('user_in', n_users, n_factors, 1e-4)
    food_in, f = embedding_input('place_in', n_food, n_factors, 1e-4)

    x = merge([u, f], mode='concat')
    x = Flatten()(x)
    x = Dropout(0.3)(x)
    x = Dense(70, activation='relu')(x)
    x = Dropout(0.75)(x)
    x = Dense(1)(x)
    nn = Model([user_in, food_in], x)
    nn.compile(Adam(0.001), loss='mse')

    nn.fit([trn.userID, trn.foodID], trn.rating, batch_size=10, nb_epoch=16, 
               validation_data=([val.userID, val.foodID], val.rating))

    nn.save_weights(model_path+'nn.h5')
    return nn
        
def get_recommendation(count,userid2idx,nn,foodid2idx):
    nn.load_weights(model_path+'nn.h5')
    a=[]
    i=0
    db = MySQLdb.connect("localhost","root","","order_easy" )
    cur=db.cursor()
    cur.execute("TRUNCATE TABLE recommender")
    for k,v in userid2idx.items():
        a=nn.predict([int(v)*np.ones(137),np.arange(count)])
        a=np.argsort(a,axis=0)[::-1]
        for j in a[:20]:
            cur.execute("""INSERT INTO recommender values(%s,%s)""",(k,foodid2idx[j[0]]))
        
        i+=1
    db.commit()

In [91]:
get_recommendation(count,userid2idx,nn)

In [53]:
    a=[]
    i=0
    for k,v in userid2idx.items():
        a.append(nn.predict([int(v)*np.ones(137),np.arange(count)]))

In [38]:
a=[[1],[2],[0]]

In [84]:
    db = MySQLdb.connect("localhost","root","","order_easy" )
    
   
    cur=db.cursor()
    #cur.execute("""INSERT INTO recommender values(%s,%s)""",(1,4))

In [85]:
cur.execute("TRUNCATE TABLE recommender")

0L

In [87]:
cur.execute("""INSERT INTO recommender values(%s,%s)""",(1,4))
db.commit()

In [72]:
for i in a[:20]:
    print(i[0])

105
61
104
112
15
116
33
44
60
84
27
77
12
39
48
51
103
117
107
42

In [71]:
a[0][0]

105

In [82]:
len(userid2idx)

22

In [101]:
a=[1,3,4,9,8,3,3,45,64,2,0]

In [102]:
a=np.argsort(a)[::-1]

In [103]:
a

array([ 8,  7,  3,  4,  2,  6,  5,  1,  9,  0, 10], dtype=int64)

In [1]:
import runme

WARNING (theano.sandbox.cuda): The cuda backend is deprecated and will be removed in the next release (v0.10).  Please switch to the gpuarray backend. You can get more information about how to switch at this URL:
 https://github.com/Theano/Theano/wiki/Converting-to-the-new-gpu-back-end%28gpuarray%29

Using gpu device 0: GeForce 940MX (CNMeM is enabled with initial size: 80.0% of memory, cuDNN 5110)
Using Theano backend.

import done

In [2]:
runme.runit()

fetching from databse done
trn val dataset preparation done
Train on 4000 samples, validate on 473 samples
Epoch 1/16
4000/4000 [==============================] - 1s - loss: 0.7324 - val_loss: 0.8267
Epoch 2/16
4000/4000 [==============================] - 1s - loss: 0.6821 - val_loss: 0.8333
Epoch 3/16
4000/4000 [==============================] - 1s - loss: 0.6843 - val_loss: 0.8412
Epoch 4/16
4000/4000 [==============================] - 1s - loss: 0.6660 - val_loss: 0.8583
Epoch 5/16
4000/4000 [==============================] - 1s - loss: 0.6552 - val_loss: 0.8478
Epoch 6/16
4000/4000 [==============================] - 1s - loss: 0.6640 - val_loss: 0.8487
Epoch 7/16
4000/4000 [==============================] - 1s - loss: 0.6632 - val_loss: 0.8435
Epoch 8/16
4000/4000 [==============================] - 1s - loss: 0.6525 - val_loss: 0.8562
Epoch 9/16
4000/4000 [==============================] - 1s - loss: 0.6515 - val_loss: 0.8486
Epoch 10/16
4000/4000 [==============================] - 1s - loss: 0.6533 - val_loss: 0.8494
Epoch 11/16
4000/4000 [==============================] - 1s - loss: 0.6463 - val_loss: 0.8562
Epoch 12/16
4000/4000 [==============================] - 1s - loss: 0.6375 - val_loss: 0.8728
Epoch 13/16
4000/4000 [==============================] - 1s - loss: 0.6538 - val_loss: 0.8694
Epoch 14/16
4000/4000 [==============================] - 1s - loss: 0.6466 - val_loss: 0.8521
Epoch 15/16
4000/4000 [==============================] - 1s - loss: 0.6403 - val_loss: 0.8613
Epoch 16/16
4000/4000 [==============================] - 1s - loss: 0.6509 - val_loss: 0.8553
model train done

KeyError: 134

In [7]:
count=input_table()

In [8]:
print("fetching from databse done")

trn,val, n_users, n_food,userid2idx,foodid2idx=input_csv()

fetching from databse done

In [9]:
print("trn val dataset preparation done")

nn=train_model(trn,val, n_users, n_food)

trn val dataset preparation done
Train on 4041 samples, validate on 432 samples
Epoch 1/16
4041/4041 [==============================] - 1s - loss: 0.7448 - val_loss: 0.7385
Epoch 2/16
4041/4041 [==============================] - 1s - loss: 0.7045 - val_loss: 0.7200
Epoch 3/16
4041/4041 [==============================] - 1s - loss: 0.6904 - val_loss: 0.7161
Epoch 4/16
4041/4041 [==============================] - 1s - loss: 0.6801 - val_loss: 0.7175
Epoch 5/16
4041/4041 [==============================] - 1s - loss: 0.6770 - val_loss: 0.7144
Epoch 6/16
4041/4041 [==============================] - 1s - loss: 0.6726 - val_loss: 0.7197
Epoch 7/16
4041/4041 [==============================] - 1s - loss: 0.6711 - val_loss: 0.7255
Epoch 8/16
4041/4041 [==============================] - 1s - loss: 0.6709 - val_loss: 0.7243
Epoch 9/16
4041/4041 [==============================] - 1s - loss: 0.6747 - val_loss: 0.7208
Epoch 10/16
4041/4041 [==============================] - 1s - loss: 0.6624 - val_loss: 0.7285
Epoch 11/16
4041/4041 [==============================] - 1s - loss: 0.6587 - val_loss: 0.7353
Epoch 12/16
4041/4041 [==============================] - 1s - loss: 0.6714 - val_loss: 0.7215
Epoch 13/16
4041/4041 [==============================] - 1s - loss: 0.6545 - val_loss: 0.7265
Epoch 14/16
4041/4041 [==============================] - 1s - loss: 0.6631 - val_loss: 0.7290
Epoch 15/16
4041/4041 [==============================] - 1s - loss: 0.6518 - val_loss: 0.7304
Epoch 16/16
4041/4041 [==============================] - 1s - loss: 0.6611 - val_loss: 0.7323

KeyError: 132

In [21]:
foodid2idx[a[0][0]]

KeyError: 132

In [23]:
a=nn.predict([int(25)*np.ones(137),np.arange(count)])

In [24]:
a=np.argsort(a,axis=0)[::-1]

In [25]:
a

array([[134],
       [132],
       [  0],
       [128],
       [ 94],
       [124],
       [ 98],
       [129],
       [ 97],
       [123],
       [  7],
       [ 54],
       [ 72],
       [127],
       [135],
       [ 56],
       [125],
       [ 71],
       [ 96],
       [ 95],
       [130],
       [  1],
       [ 13],
       [ 40],
       [ 79],
       [101],
       [  8],
       [ 63],
       [ 55],
       [ 57],
       [ 37],
       [ 59],
       [  4],
       [136],
       [ 53],
       [ 60],
       [ 81],
       [  9],
       [131],
       [ 14],
       [100],
       [  2],
       [ 64],
       [ 48],
       [111],
       [ 83],
       [126],
       [ 58],
       [  5],
       [ 32],
       [ 93],
       [102],
       [133],
       [ 69],
       [ 99],
       [ 28],
       [ 23],
       [ 24],
       [ 34],
       [ 70],
       [ 86],
       [ 22],
       [ 66],
       [ 11],
       [ 29],
       [121],
       [  3],
       [ 61],
       [105],
       [ 62],
       [ 65],
       [ 17],
       [109],
       [ 39],
       [104],
       [103],
       [114],
       [ 87],
       [ 38],
       [ 44],
       [ 78],
       [ 92],
       [ 47],
       [ 10],
       [112],
       [ 27],
       [113],
       [ 26],
       [108],
       [ 91],
       [ 67],
       [ 80],
       [ 41],
       [ 74],
       [ 15],
       [ 52],
       [ 88],
       [ 85],
       [ 42],
       [116],
       [119],
       [ 73],
       [ 77],
       [ 20],
       [ 43],
       [ 76],
       [ 68],
       [ 35],
       [ 25],
       [106],
       [ 46],
       [ 21],
       [ 84],
       [ 51],
       [117],
       [ 30],
       [ 90],
       [110],
       [ 12],
       [115],
       [120],
       [ 82],
       [ 50],
       [ 18],
       [ 45],
       [118],
       [ 49],
       [  6],
       [122],
       [ 36],
       [ 33],
       [ 75],
       [ 31],
       [ 16],
       [ 19],
       [107],
       [ 89]], dtype=int64)

In [22]:
foodid2idx[132]

KeyError: 132

In [23]:
foodid2idx2 = {o:i for i,o in foodid2idx.items()}

In [24]:
foodid2idx2

{0: 1,
 1: 3,
 2: 4,
 3: 5,
 4: 6,
 5: 7,
 6: 8,
 7: 9,
 8: 10,
 9: 11,
 10: 12,
 11: 13,
 12: 14,
 13: 15,
 14: 16,
 15: 17,
 16: 18,
 17: 19,
 18: 20,
 19: 21,
 20: 22,
 21: 23,
 22: 24,
 23: 25,
 24: 26,
 25: 27,
 26: 28,
 27: 29,
 28: 30,
 29: 31,
 30: 32,
 31: 33,
 32: 34,
 33: 35,
 34: 36,
 35: 37,
 36: 38,
 37: 39,
 38: 40,
 39: 41,
 40: 42,
 41: 43,
 42: 44,
 43: 45,
 44: 46,
 45: 47,
 46: 48,
 47: 49,
 48: 50,
 49: 51,
 50: 52,
 51: 53,
 52: 54,
 53: 55,
 54: 56,
 55: 57,
 56: 58,
 57: 59,
 58: 60,
 59: 61,
 60: 62,
 61: 63,
 62: 64,
 63: 65,
 64: 66,
 65: 67,
 66: 68,
 67: 69,
 68: 70,
 69: 71,
 70: 72,
 71: 73,
 72: 74,
 73: 75,
 74: 76,
 75: 77,
 76: 78,
 77: 79,
 78: 80,
 79: 81,
 80: 82,
 81: 83,
 82: 84,
 83: 85,
 84: 86,
 85: 87,
 86: 88,
 87: 89,
 88: 90,
 89: 91,
 90: 92,
 91: 93,
 92: 94,
 93: 95,
 94: 96,
 95: 97,
 96: 98,
 97: 99,
 98: 100,
 99: 101,
 100: 102,
 101: 103,
 102: 104,
 103: 105,
 104: 106,
 105: 107,
 106: 108,
 107: 109,
 108: 110,
 109: 111,
 110: 112,
 111: 113,
 112: 114,
 113: 115,
 114: 116,
 115: 117,
 116: 118,
 117: 119,
 118: 120,
 119: 121,
 120: 122,
 121: 123,
 122: 124,
 123: 182,
 124: 183,
 125: 184,
 126: 185,
 127: 186,
 128: 187,
 129: 188,
 130: 189,
 131: 197,
 132: 198,
 133: 199,
 134: 200,
 135: 201,
 136: 202}

In [1]:
import runme

WARNING (theano.sandbox.cuda): The cuda backend is deprecated and will be removed in the next release (v0.10).  Please switch to the gpuarray backend. You can get more information about how to switch at this URL:
 https://github.com/Theano/Theano/wiki/Converting-to-the-new-gpu-back-end%28gpuarray%29

Using gpu device 0: GeForce 940MX (CNMeM is enabled with initial size: 80.0% of memory, cuDNN 5110)
Using Theano backend.

import done

In [3]:
runme.runit()

fetching from databse done
trn val dataset preparation done
Train on 4012 samples, validate on 461 samples
Epoch 1/16
4012/4012 [==============================] - 1s - loss: 0.7332 - val_loss: 0.7934
Epoch 2/16
4012/4012 [==============================] - 1s - loss: 0.6970 - val_loss: 0.7624
Epoch 3/16
4012/4012 [==============================] - 1s - loss: 0.6810 - val_loss: 0.7559
Epoch 4/16
4012/4012 [==============================] - 1s - loss: 0.6730 - val_loss: 0.7518
Epoch 5/16
4012/4012 [==============================] - 1s - loss: 0.6714 - val_loss: 0.7593
Epoch 6/16
4012/4012 [==============================] - 1s - loss: 0.6643 - val_loss: 0.7546
Epoch 7/16
4012/4012 [==============================] - 1s - loss: 0.6716 - val_loss: 0.7685
Epoch 8/16
4012/4012 [==============================] - 1s - loss: 0.6565 - val_loss: 0.7601
Epoch 9/16
4012/4012 [==============================] - 1s - loss: 0.6643 - val_loss: 0.7534
Epoch 10/16
4012/4012 [==============================] - 1s - loss: 0.6543 - val_loss: 0.7572
Epoch 11/16
4012/4012 [==============================] - 1s - loss: 0.6643 - val_loss: 0.7525
Epoch 12/16
4012/4012 [==============================] - 1s - loss: 0.6600 - val_loss: 0.7525
Epoch 13/16
4012/4012 [==============================] - 1s - loss: 0.6530 - val_loss: 0.7621
Epoch 14/16
4012/4012 [==============================] - 1s - loss: 0.6520 - val_loss: 0.7651
Epoch 15/16
4012/4012 [==============================] - 1s - loss: 0.6622 - val_loss: 0.7699
Epoch 16/16
4012/4012 [==============================] - 1s - loss: 0.6479 - val_loss: 0.7691
model train done
recommendation updated to table